@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";

.header {
    height: 220px;
    font-family: Rancho;
    text-align: center;
    background-image: url("./images/fortniteBanner.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    border: solid white;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.48);
}

.header h1 {
    padding-top: 25px;
    font-size: 98px;
   
    font-weight: bold;
    color: 	white;
    font-style: oblique;
   
}

.header p {
    font-size: 30px;
    color: white;
    font-style: oblique;
}

@media all and (max-width: 800px) { 
    .header {
        height: 180px;
    }
    .header h1 {
        padding-top: -40px;
        font-size: 60px; 
    }
    .header p {
        font-size: 24px;
    }
}

@media all and (max-width: 650px) { 
    .header {
        height: 180px;
    }
    .header h1 {
        font-size: 48px;
    }
    .header p {
        font-size: 20px;
    }
}